@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset "UTF-8";

/*GERAL*/
body { background:rgba(77, 182, 172, 1); font-family: verdana; }
.container { background:#FFF; margin: 0 auto; width:70%; height: 100%; position: relative; }
.div-center { margin: 0 auto; width: 70%; height: 100%; overflow-x: hidden; }
.listas { overflow-y: scroll; }
h1 { margin: 20px 0 30px; font-size: 24px; line-height: 34px; padding: 0; color: #444; }

/*HOME*/
div.login{ width:400px; margin:0 auto; margin-top:8px; margin-bottom:2%; }
div.login div.img-index { background-color: #f0f0f0; }
div.login div.img-index img { width: 395px; height: auto; }
div.login .form-home{ background:#f0f0f0; padding:6% 4%; }
div.login .usuario,.senha{ width:92%; background:#fff; margin-bottom:4%; border:1px solid #ccc; padding:4%; font-family:'Open Sans',sans-serif; font-size:95%; color:#555; }
div.login .enviar-home { width:100%; background:rgba(77, 182, 172, 1); border:0; padding:4%; font-family:'Open Sans',sans-serif; font-size:100%; color:#fff; cursor:pointer; }
div.login .enviar-home:hover { background-color:#F06292 ; }
.div-center .texto-home { width: 60%; margin:0 auto; }
.div-center .texto-home img { display: block; margin:0 auto; }


/*MENU*/
div.menu-crud { text-align: center; margin: 0; overflow: hidden; width: 25%; height: 100%; border-right: 1px solid #4DB6AC; background:rgba(233, 233, 233, 0.5); float: left;}
div.menu-crud div.logo { width: 250px; height: auto; margin: 0 auto; }
div.menu-crud div.logo img{ width: 250px; height: auto; }
div.menu-crud #cssmenu { width: 100%; border-radius: 3px; }
div.menu-crud #cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a { margin: 0; padding: 0; border: 0; list-style: none; font-weight: normal; text-decoration: none; line-height: 1; font-family: 'Open Sans', sans-serif; font-size: 14px; position: relative; }
div.menu-crud #cssmenu a { line-height: 1.3; }
div.menu-crud #cssmenu > ul > li { background: #4DB6AC; }
div.menu-crud #cssmenu > ul > li:hover { background: #F06292; }
div.menu-crud #cssmenu > ul > li > a { font-size: 14px; display: block; background: url(img/pattern.png) top left repeat; color: #ffffff; border: 1px solid ; border-top: none; }
div.menu-crud #cssmenu > ul > li > a > span { display: block; padding: 12px 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
div.menu-crud #cssmenu > ul > li > a:hover { text-decoration: none; }
div.menu-crud #cssmenu > ul > li.active { border-bottom: none; }
div.menu-crud #cssmenu > ul > li.has-sub > a span { background: url(img/icon_plus.png) 96% center no-repeat; }
div.menu-crud #cssmenu > ul > li.has-sub.active > a span { background: url(img/icon_minus.png) 96% center no-repeat; }

div.menu-crud #cssmenu ul ul { display: none; background: #fff; border-right: 1px solid #a2a194; border-left: 1px solid #a2a194;}
div.menu-crud #cssmenu ul ul li { padding: 0; border-bottom: 1px solid #d4d4d4; border-top: none; background: #f7f7f7; }
div.menu-crud #cssmenu ul ul li:last-child { border-bottom: none; }
div.menu-crud #cssmenu ul ul a { padding: 10px 10px 10px 25px; display: block; color: #676767; font-size: 12px; font-weight: normal; }
div.menu-crud #cssmenu ul ul a:before { content: "»"; position: absolute; left: 10px; color: #4DB6AC; }
div.menu-crud #cssmenu ul ul a:hover { color: #4DB6AC; }

/*FORMULARIOS*/
.formulario p { margin: 5px 0;}
.inputs-form { border-radius: 4px; border: 1px solid #ccc; }
.formulario .btn-forms { border-radius: 4px; border:1px solid #4DB6AC; font-family: Arial; color: #fff; font-size: 13px; background: #4DB6AC; padding: 2px 5px 2px; text-decoration: none; }
.formulario .btn-forms:hover { background: #F06292; text-decoration: none; border:1px solid #F06292; }
.div-center .formulario p { margin: 5px 0; }
.p-img { font-size: 11px; }
p.p-quantidade { float: left; margin: 0; }

/*FORMULARIOS CADASTRO*/
.formulario input, select{ background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #C9C9C9; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset, -5px -5px 0 0 #F5F5F6, 5px 5px 0 0 #F5F5F6, 5px 0 0 0 #F5F5F6, 0 5px 0 0 #F5F5F6, 5px -5px 0 0 #F5F5F6, -5px 5px 0 0 #F5F5F6; color: #545658; padding: 5px; margin: 5px; font-size: 14px; border-radius: 2px 2px 2px 2px; width: 40%;}
.formulario label{ display: block; margin-top: 12px; font-style: italic; font-size: 12px; }
.formulario #submit {width: auto; height: 30px; margin-top: 15px;}

/*TABELAS*/
.tabela{ margin: 0 auto; width:90%; border:solid 1px; text-align:center; border-collapse:collapse; }
.tabela thead{ background:rgba(77, 182, 172, 0.7); }
.tabela thead th:nth-child(1){ width:100px; }
.tabela tbody tr{ border:solid 1px; height:30px; width: 100%; }
.tabela tbody tr:hover { background:rgba(77, 182, 172, 0.3); }
.tabela tr:nth-child(even) { background: rgba(233, 233, 233, 0.5); }
.tabela .form-btn-tabela { margin: 0; }
.tabela .btn-tabela { border-radius: 11px; border:1px solid #4DB6AC; font-family: Arial; color: #fff; font-size: 10px; background: #4DB6AC; padding: 3px 6px 3px; text-decoration: none; }
.tabela .btn-tabela:hover { background: #F06292; text-decoration: none; border:1px solid #F06292; }

/*FORUMULARIOS DE EDIÇÃO*/
.div-center div#form-editar { visibility:hidden; border: 1px solid #ccc; width: 88.2%; margin: 40px auto; position: relative; padding: 20px 10px; }
.div-center div#form-editar h3 { margin: 0 0 10px 0; }
.div-center div#form-editar #close-form { color: #fff; font-weight: bold; cursor: pointer; background: rgba(77, 182, 172, 1) ; border-radius: 50%; float: right; display: block; width: 20px; height: 20px; padding: 2px; text-align: center; position: absolute; top: 10px; right: 10px; }
